archive
package-lock.json

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*
src/doc/**/*
src/.cache/**/*

# ignore yarn.lock
src/yarn.lock
