#color-input {
  display: none;
}

#color-label {
  margin-left: 15px;
  position: absolute;
  height: 30px;
  width: 50px;
}

#color-input:checked ~ #color-picker {
  opacity: 1;
}

#color-picker {
  position: absolute;
  left: 70px;
  background-color: white;
  height: 150px;
  width: 185px;
  border: solid 1px #ccc;
  opacity: 0;
  padding: 5px;
}
